{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notification Settings</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="second">
    <h2>Notification Settings: Handle multiple notifications simultaneously</h2>
</div>

<div class="container">
    <div class="first">
        <button type="button" class="msg" data-action="like_photo">Like the photo</button>
        <button type="button" class="msg" data-action="transaction">Transaction</button>
        <button type="button" class="msg" data-action="login">Login</button>
        <button type="button" class="msg" data-action="logout">Logout</button>
    </div>

    <div class="first">
        <button type="button" class="msg" data-action="post_photo">Post the photo</button>
    </div>

    <div class="first">
        <button type="button" class="msg" data-action="added_item">Added new items</button>
    </div>

    <div class="first">
        <button type="button" class="msg" data-action="login_system">Login in the system</button>
    </div>

    <a href="{% url 'preferences_page' %}">
        <h2 class="men">Link to move to notification preference</h2>
    </a>
</div>

<!-- Pass URL from Django template -->
<script>
    const sendNotificationUrl = "{% url 'send_notification' %}";
</script>

<script src="{%static 'second.js' %}">
</script>

</body>
</html>
